{deps, [
    {erlang_commons, "1.1.9",   {git, "git@github.com:tigertext/erlang_commons.git", {tag, "1.1.9"}}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy", {branch, "1.0.x"}}}
]}.
%%{sub_dirs, ["rel"]}.
{edoc_opts, [{preprocess, true}]}.
%%{cover_enabled, true}.
{eunit_opts, [verbose]}.
